Thanks for sending a fax with Fax Riot
=============================================

You have succesfully submitted a fax to be sent, free of charge, with Fax Riot. Your fax has not been
sent yet. Please click on the link below to send your fax now.

= approve_fax_url(:uniq_id=>@fax.uniq_id, :confirm_token=>@fax.confirm_token)

Thanks for sending your fax an email will be sent to you once the fax has been sent.

Fax Riot