!!! html
%html
  %head
    %meta{:content=>'text/html', :charset=>'UTF=8', 'http-equiv'=>'Content-Type'}
  %body
    %h1 Thanks for sending a fax with Fax Riot
    %p
      You have succesfully submitted a fax to be sent, free of charge, with Fax Riot. Your fax has not been
      sent yet. Please click on the link below to send your fax now.
    %p
      = link_to 'Click to confirm and send your fax.', approve_fax_url(:uniq_id=>@fax.uniq_id, :confirm_token=>@fax.confirm_token)
    %p
      Thanks for sending your fax an email will be sent to you once the fax has been sent.
    %p
      Fax Riot