There was a problem sending your fax
=============================================

There was a problem sending your fax. We apologize for any inconvenience. Please try your fax again later and check that
you are uploading a valid file, and the phone number is valid.

#{@error_message}

Fax Riot