!!! html
%html
  %head
    %meta{:content=>'text/html', :charset=>'UTF=8', 'http-equiv'=>'Content-Type'}
  %body
    %h1 Uh Oh! There was a problem sending your fax
    %p
      There was an error sending your fax. We apologize for this and ask that you try to re-send your fax at a later
      time. Please check the fax number, file attachment, and destination of your fax. If you continue to have problems
      please send an email to #{mail_to 'feedback@faxriot.com'}.
    - unless @error_message.blank?
      %p
        %h5 Error Message
      %p
        #{@error_message}
    %p
      Thanks for using Fax Riot a free Internet fax service.
    %p
      Fax Riot