Your fax has been sent successfully
=============================================

Your fax has been successfully sent to #{@fax.to_fax} using Fax Riot. You can send up to 3 faxes a day free of charge.

Fax Riot