!!! html
%html
  %head
    %meta{:content=>'text/html', :charset=>'UTF=8', 'http-equiv'=>'Content-Type'}
  %body
    %h1 Your fax has been successfully sent
    %p
      The fax you sent to #{@fax.to_fax} has been successfully delivered. Thank you for using Fax Riot. You
      can send up to 3 faxes in a 24 hour period.
    - unless @success_message.blank?
      %p
        %h5 Status
      %p
        #{@success_message}
    %p
      Fax Riot