%div.fax-form
  %h4 Sorry we will be back shortly
  %p
    This service got bigger than there was capacity allocated for it. We are adjusting our servers to handle the massive
    amount of people and faxes being generated. We apologize for the inconvenience and hope to have you able to send faxes again.
    If you have any questions please send them to #{mail_to 'feedback@faxriot.com'}.
  %p
    We appreciate your continued support and patience during this time.
  %p
    %b Fax Riot Team