%div.container-narrow

  %div.masthead
    %ul.nav.nav-pills.pull-right
      -#%li
      -#  %div#fb-like{:width=>30,:height=>30, :style=>'margin-top: 2px; margin-bottom: 2px;margin-right: 4px'}
      -#    %a#facebook-post{:href=>'#fax-form'}
      -#      = image_tag "fb_button.png"
      %li#home.active= link_to "Home", root_path
      %li#faq= link_to "FAQ", faq_path
      %li#news= link_to "News", articles_url
    %h3.muted Fax Riot
    %hr

  %div.jumbotron
    %h1 Send a Fax - Free!
    %p.lead
      No charge to send a fax. No need to sign up. No credit card required. This service is provided completely free of charge.
      %blockquote "No sign up, no payment required, and we don't spam your email. Just the fax."
    - if ALLOW_FAX
      %a.btn.btn-large.btn-success{:href=>'#fax-form'} Begin
  %div.row-fluid.marketing
    %div.span12{:style=>'text-align:center'}
      No commitment send a fax today. Fax Riot a fast, easy way to send a fax.

  - flash.each do |name, msg|
    - if msg.is_a?(String)
      %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
        %a.close{"data-dismiss" => "alert"} ×
        = content_tag :div, raw(msg), :id => "flash_#{name}"

  - if ALLOW_FAX
    %div#fax-form
      = render :partial => 'fax/fax_form'
  - else
    = render :partial => 'be_back'

