%div.container-narrow

  %div.masthead
    %ul.nav.nav-pills.pull-right
      %li#home= link_to "Home", root_path
      %li#faq= link_to "FAQ", faq_path
      %li#news.active= link_to "News", articles_url
    %h3.muted Fax Riot
    %hr

  %h1 Latest Articles
  %div.span8
    - @articles.each do |article|
      %p
        -if article.active?
          %h2= article.title
          %p= raw(article.body)