=form_for @fax, :html=>{:multipart=>true, :class=>'fax-form'} do |f|
  %h5.fax-form-heading Please fill out all required information. They are highlighted in red.
  %h4 From
  =f.text_field :from_name, :placeholder=>'Name', :class=>'input-block-level required-input'
  =f.text_field :from_email, :placeholder=>'Email', :class=>'input-block-level required-input'
  %h4 To
  =f.text_field :to_name, :placeholder=>'Name', :class=>'input-block-level required-input'
  - #f.text_field :to_company, :placeholder=>'Company (Optional)', :class=>'input-block-level'
  =f.label :to_fax, 'No dashes or parentheses. US numbers only (i.e. 5555551212)'
  =f.telephone_field :to_fax, :placeholder=>'Fax Number', :class=>'input-block-level required-input'
  %h4 Fax
  =f.text_area :cover_text, :placeholder=>'Optional', :class=>'input-block-level', :rows=>4
  =f.label :attachments, 'Attachments must be less than 5 Megabytes each. Supported file types: jpg,jpeg,png,bmp,tiff,pdf,txt,rtf,doc,docx'
  =f.fields_for :attachments do |a|
    =a.file_field :upload, :class=>'input-block-level'
  %div#captcha_box{:width=>600}= show_simple_captcha
  %p
    =f.submit 'Send Fax', :class=>'btn btn-large btn-primary'