%div.container-narrow

  %div.masthead
    %ul.nav.nav-pills.pull-right
      %li#home= link_to "Home", root_path
      %li#faq= link_to "FAQ", faq_path
    %h3.muted Fax Riot
    %hr

  %div.fax-pending
    %h1 Fax approved
    %p
      Thank you. You have successfully queued your fax for sending. Please give it 5 to 10 minutes. When the fax has
      been successfully sent you will receive a notification email at #{@fax.from_email}. This service is provided free of
      charge make sure you tell your friends.
    %p
      The fax will be sent to this phone number:
    %p
      <i>#{@fax.to_fax}</i>
    %p
      <i>- Fax Riot Team</i>
    %div#social_icons
      %p
        %h5 Share this with your friends
      %div#fb-like{:width=>30,:height=>30, :style=>'margin-top: 2px; margin-bottom: 2px;margin-right: 4px'}
        %a#facebook-post{:style=>'float: left;'}
          = image_tag "fb_button.png"
        %div#twitter_share{:style=>'margin-left:3px; float:left;'}
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="www.faxriot.com" data-text="I sent a free fax today using http://www.faxriot.com. Send 3 free faxes a day. Free fax service." data-hashtags='faxriot,freefax'>Tweet</a>
    %div{:style=>'height:8px; clear:both;'}