!!!html
%head
  :css
    body { font-family: "Arial" }


%body
  %h1 Fax Riot
  %h5 Sent using http://www.faxriot.com - free faxing to any US Based phone number
  %hr
  %p
    To: #{@fax.to_name} <br />
    From: #{@fax.from_name}  <br />
    To Fax Number: #{@fax.to_fax}     <br />
    Number of pages: #{@fax.attachments.count + 1}  <br />
  %hr
  %p
    Comments: #{@optional_text}

  %footer
    Fax riot, http://www.faxriot.com, send faxes for free to any US based phone number

