%div.container-narrow

  %div.masthead
    %ul.nav.nav-pills.pull-right
      %li#home= link_to "Home", root_path
      %li#faq= link_to "FAQ", faq_path
    %h3.muted Fax Riot
    %hr

  %div.fax-pending
    %h1 Fax pending please check your email
    %p
      You have successfully created a fax. Please check your email and click on the link
      to confirm that you wish to send this fax. The fax will not be sent unless you click on this link.
      If you used the wrong email please create another fax. We do not change email addresses if entered
      incorrectly.
    %p
      The fax will be sent to this email:
    %p
      Email: <i>#{@fax.from_email}</i>
    %p
      If you do not confirm this within 24 hours your fax will be deleted and you will have to resubmit it.
    %p
      Fax Riot Team