# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/
$(document).ready ->
	$('#facebook-post').bind 'click', ->
    FB.ui
      method: 'feed'
      name: 'Fax Riot'
      description: 'Send up to 3 faxes a day - free.'
      caption: 'I just sent a free fax using Faxriot. Send your free fax  to anywhere in the continental U.S. today!'
      link: "http://www.faxriot.com"
      picture: "http://www.faxriot.com<%=asset_path('fax.png') %>"
