%div.container-narrow
  %div.masthead
    %ul.nav.nav-pills.pull-right
      -#%li
      -#  %div#fb-like{:width=>30,:height=>30, :style=>'margin-top: 2px; margin-bottom: 2px;margin-right: 4px'}
      -#    %a#facebook-post
      -#      = image_tag "fb_button.png"
      %li#home= link_to "Home", root_path
      %li#faq.active= link_to "FAQ", faq_path
      %li#news= link_to "News", articles_url
    %h3.muted Fax Riot
    %hr

  %div.span8
    - @faqs.each do |faq|
      %p
        %i= faq.question
        %p= raw(faq.answer)