// Place all the styles related to the fax controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fax-pending {
  max-width: 530px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  .fax-pending-heading,
  .fax-pending-checkbox {
    margin-bottom: 10px;
  }

}

.simple_captcha {
  margin-bottom: 5px;
  .simple_captcha_field {
    input[id="captcha"] {
      font-size: 14px;
      height: auto;
      margin-bottom: 15px;
      padding: 7px 9px;
      width: 360px;
    }
  }

}

