!!! html
%html
  %head
    %title Fax Riot::Send Free Faxes Over the Internet
    = stylesheet_link_tag "application", :media=>"all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name=>'title', :content=>'FaxRiot::Free internet fax service'}
    %meta{:name=>'description', :content=>'Send free faxes over the internet. No payment or sign up necessary. Send up to 3 pages to any number in the US.'}
    %meta{:name=>'keywords', :content=>'fax,internet fax,free fax,pc fax,send fax,send fax from pc,computer fax,fax from computer'}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

  %body
    %div#fb-root

  :javascript
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '368901399877903',                        // App ID from the app dashboard
        channelUrl : "#{root_url}channel.html", // Channel file for x-domain comms
        status     : true,                                 // Check Facebook Login status
        xfbml      : true                                  // Look for social plugins on the page
      });

      // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41322599-1', 'faxriot.com');
    ga('send', 'pageview');

    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


  = yield
